{% extends 'base_back.html.twig' %}

{% block title %}Centre index{% endblock %}

{% block body %}
<div style="background-color: #D1D1D1; min-height:100vh">
    <div class="container">
        <h1 style="text-align:center" class="pt-4">Centres de Formation</h1>

        <button class="btn btn-success"><a href="{{ path('app_admin_centre_new') }}" class="nav-link">Create new</a></button>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>CodePostal</th>
                    <th>Mail</th>
                    <th>Telephone</th>
                    <th>Responsable</th>
                    <th>Horaire</th>
                    <th>HoraireApresMidi</th>
                    <th>Couleur</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for centre in centres %}
                <tr>
                    <td>{{ centre.nom }}</td>
                    <td>{{ centre.adresse }}</td>
                    <td>{{ centre.codePostal }}</td>
                    <td>{{ centre.mail }}</td>
                    <td>{{ centre.telephone }}</td>
                    <td>{{ centre.responsable }}</td>
                    <td>{{ centre.horaire }}</td>
                    <td>{{ centre.horaireApresMidi }}</td>
                    <td style="background-color:{{ centre.couleur }}; border-radius:5px"></td>
                    <td>
                        <a href="{{ path('app_admin_centre_edit', {'id': centre.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">pas de données...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        
    </div>
</div>
    
    
{% endblock %}
