{% extends 'base_back.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
<div style="background-color: #D1D1D1; min-height:100vh">
    <div class="container">
    <h1>Liste de missions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.beginAt ? booking.beginAt|date('d-m-Y') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('d-m-Y') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td>
                    <a href="{{ path('app_booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_booking_new') }}">Create new</a>
    </div>
</div>
{% endblock %}
