{% extends 'base_back.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
<div style="background-color: #D1D1D1; min-height:100vh">
    <div class="container">
    <h1 style="text-align:center" class="pt-4">S T A F F</h1>

    <button class="btn btn-success"><a href="{{ path('app_admin_user_new') }}" class= "nav-link" class="btn btn-dark">Nouveau</a>
</button>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Couleur</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.email }}</td>
                <td style="background-color:{{ user.couleur }}"></td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-success">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun Utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div
    
{% endblock %}
